<div>
  <button>Solicitar pago vaciones en dinero</button>
</div>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Modelo</th>
        <th>Referencias</th>
        <th>Fecha de Solicitud</th>
        <th>Etapa</th>
        <th>Fecha de la última actividad ejecutada</th>
        <th>Usuario responsable</th>
        <th>Tiempo de evaluación</th>
        <th>Cancelar</th>
      </tr>
    </thead>
    <tr>
      <td>forma en que las toma</td>
      <td>identificador</td>
      <td>f_fecha</td>
      <td>etapa Solicitud</td>
      <td>f_fin</td>
      <td>Responsable</td>
      <td>t_dias</td>
      <td>eliminar</td>
    </tr>
    <tbody></tbody>
  </table>
</div>
