<div class="modal">
  <form action="" class="fomrulario">
    <label for="" class="labels">Días habiles a disfrutar</label><br />
    <input type="text" placeholder="# 15" class="fecha" /><br />
    <label for="" class="labels">Fecha de salida</label><br />
    <input type="date" class="fecha" /> <br />
    <label for="" class="labels">Observaciones</label> <br />
    <textarea type="text" maxlength="300" class="observaciones"></textarea>
  </form>
  <div class="enviar-info">
    <button type="submit" class="solicitar">Solicitar></button>
  </div>
</div>
