<div class="modal">
  <form action="" class="fomrulario">
    <div class="retornar">
      <h3>
        Cerrar
        <button
          class="cerrar"
          routerLink="/Solicitudes_en_tramite"
          routerLinkActive="active-link"
        >
          x
        </button>
      </h3>
    </div>
    <label for="" class="labels">Días hábiles a disfrutar</label><br />
    <input
      required
      #dias_solicitud="ngModel"
      [(ngModel)]="dataSolicitud.dias_utilizados"
      type="text"
      placeholder="#15"
      class="fecha"
      name="dias_solicitud"
    /><br /><br />
    <label for="" class="labels">Modelo</label><br />
    <select
      name="Modelo"
      [(ngModel)]="dataSolicitud.modelo"
      style="max-width: 130%"
    >
      <option>Vacaciones</option>
      <option>Pagos</option>
    </select>
    <br />
    <br />
    <label for="" class="labels">Fecha de salida</label><br />
    <input
      required
      #fecha_salida="ngModel"
      [(ngModel)]="dataSolicitud.fecha_salida"
      name="fecha_salida"
      type="date"
      class="fecha"
    />
    <br /><br />
    <label for="" class="labels">Observaciones</label> <br />
    <textarea type="text" maxlength="300" class="observaciones"></textarea>
  </form>
  <div class="enviar-info">
    <button
      (click)="addregister()"
      routerLink="/Solicitudes_en_tramite"
      type="submit"
      class="solicitar"
    >
      Solicitar>
    </button>
  </div>
</div>
